<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BLOB" value="DefaultEndpointsProtocol=https;AccountName=goodvibes;AccountKey=76CkiY+FMbLKfAWdCiyk0y32h+cFhuICD/y5f4cGQCm+CfvEYa76NMguUKZicIldQCSYna5VfZeOpK/vECDc1A==" />
  </appSettings>
</configuration>